body{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}


.nav__link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav__link:hover{
    color: yellow;
}

.header img{
    margin: 15px;
    border-radius: 50%;
}

.container-center {
    margin: 20px auto;
    width: 90%;
    font-size: 18px;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
    padding: 15px;
    background-color: rgb(250, 249, 249);
}

section h2{
    font-size: 30px;
    font-weight: 700px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.footer a:hover{
    color: yellow;
}

.footer img{
    height: 40px;
}

.footer p{
    margin-left: 25px;
    margin-top: 10px;
}